*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}

#bg{
    height: 100%;
        width: 100%;
            background-color: ffff;
}
#nav{
    height: 100px;
     width: 100%;
      background-color: rgb(255, 255, 255);
        display: flex;
         align-items: center;
          justify-content: space-between;
           padding: 0px 30px;
}
#nav1{
    display: flex;
     align-items: center;
      justify-content: center;
}
#nav1 h3{
    font-size: 13px;
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px 10px;    
}
#nav1 i{
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px 10px;
}


#nav2{
    font-size: 15px;
     text-transform: uppercase;
}
#nav3 log{
    font-size: 13px;
     border: 2px solid black;
      padding: 5px 10px;
       border-radius: 50px;
}
.sign{
    border-radius: 50px;
    padding: 5px 10px;
    background-color: orangered;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.log{
    border: 2px solid black;
    border-radius: 50px;
    padding: 5px 10px;
    background-color: white;
    font-weight: 600;
}
#centertext{
    font-size: 160px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    object-position: top;
    border-radius: 20px; 
}
#img1{
    transform: translate(-50%,-50%) rotate(-50deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-40deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img4{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img5{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#bottomlefttxt{
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 15px;
}
#bottomrighttxt{
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 15px;
}
#bottomlefticons{
    height: 30px;
     width: 8%;
      background-color: rgb(255, 255, 255);
        display: flex;
         align-items: center;
          justify-content: space-between;
           padding: 0px 30px;
           position: absolute;
           bottom: 7%;
            right: 2%;
            font-size: 20px;
            gap: 3px;
            opacity: 50%;

}